APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:LA4v1XY19K6bkf2YZpvx45xIHhA85XdNYwuE59x//+A=
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_DATABASE=propfin_crm
DB_USERNAME=root
DB_PASSWORD=
CENTRAL_DB_DATABASE=propfin_crm

CACHE_DRIVER=array
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=SSL
 
FCM_SERVER_KEY=
FCM_SENDER_ID=
